<div id="<%= dom_id carro %>">
  <p>
    <strong>Nome:</strong>
    <%= carro.nome %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= carro.marca %>
  </p>

  <p>
    <strong>Modelo:</strong>
    <%= carro.modelo %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= carro.ano %>
  </p>

</div>
