<%= form_with(model: carro) do |form| %>
  <% if carro.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(carro.errors.count, "error") %> prohibited this carro from being saved:</h2>

      <ul>
        <% carro.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :marca, style: "display: block" %>
    <%= form.text_field :marca %>
  </div>

  <div>
    <%= form.label :modelo, style: "display: block" %>
    <%= form.text_field :modelo %>
  </div>

  <div>
    <%= form.label :ano, style: "display: block" %>
    <%= form.text_field :ano %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
